# Папки с кэшем и временными файлами
__pycache__/
*.pyc
.pytest_cache/
.coverage
.coverage.*
allure-results/ 

# Виртуальное окружение
venv/
env/
.env

# Редакторы
.vscode/
.idea/

# Логи
*.log

# Системные файлы
.DS_Store
Thumbs.db